doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a.card(href="/list") List
    a.card(href="/new") Add
    a.card(href="/api") API
    block content
