extends layout

block content
  h1=title

  form(action="/new" method="post")

    label(for="git") GitHub-URL:
      input(type="text" name="git")

    button(type="submit") Load more infos from GitHub
